{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<meta charset="utf-8">
<title>
{% block title %}

{% endblock title %}
</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]><script
src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1> {% block header_text %}{% endblock header_text %}</h1>
                    <form action="{% block form_action %}{% endblock form_action %}" method="POST" class="form-class input-lg">
                        <input id="id_new_item" placeholder="Enter a to-do item" name="item_text" type="text" />
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block table %}{% endblock table %}
            </div>
        </div>

    </div>
    <script src="{% static "other/js/jquery.js" %}"> </script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"> </script>
</body>

</html>
