<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
    <title>To-Do List</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]><script
src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
</head>

<body>
    <h1>To-Do List</h1>
    <form action="" method="POST">
        <input id="id_new_item" placeholder="Enter a to-do item" maxlength="31" name="item_text" type="text" />
        {% csrf_token %}
    </form>

    <table id="id_list_table">
        <tr><td>1: {{ new_item_text }}</td></tr> 
    </table>

</body>
</html>
